<% form_for @poll do |f| -%>
<p>
Question: <%= f.text_field :title %>
</p>

<div id='answers'>
  <%= render :partial => 'answer', :collection => @poll.answers %>
</div>
<p>
<%= add_answer_link "add an answer" %>
</p>
<p>
<%= f.submit "Submit", :disable_with => 'Submiting...' %>
</p>
<% end -%>