<p style="color: green"><%= flash[:notice]%></p>
<%= render :partial => "layouts/head"%>
<body>
  <div id="content">
    <%= yield %>
  </div>
</body>
<div id="footer">
  <%= link_to(image_tag("MHBadge_Orange.jpg"), "http://macheist.com") %>
</div>
